@model Hotel
@using HotelsGarden.Models.View

<div class="panel panel-default">
    <div class="panel-heading pointer" data-toggle="collapse" data-target="#@Model.Info?.Id">
        <div class="row">
            <div class="col-md-2 text-center"><img src="@Model.Info?.Image" class="img-responsive img-thumbnail" alt="Hotel's Image'"/></div>
            <h4 class="col-md-10 text-primary">
                @Model.Info?.Name @Html.Partial("_Rating", Model.Info)
                <small class="pull-right m-t-20"> <del>$@Model.PricingInfo?.CrossOutPriceValue</del><strong> →  $@Model.PricingInfo?.AveragePriceValue</strong> </small> <br />
                <a href="@Model.Info?.LocationUrl" target="_blank"><small class="text-muted"> <i class="glyphicon glyphicon-map-marker"></i> @Model.Destination?.LongName</small></a> <br />
                <small class="text-success">
                    @Model.OfferDateRange?.TravelStartDateString to @Model.OfferDateRange?.TravelEndDateString (@Model.OfferDateRange?.LengthOfStay @(Model.OfferDateRange?.LengthOfStay > 1 ? "Days" : "Day"))
                </small>
            </h4>
        </div>
    </div>
    <div id="@Model.Info?.Id" class="collapse panel-body">
        <div class="row">
            @if (Model.OfferDateRange != null)
            {
                <div class="col-xs-12 pull-left offer-date-range">
                    <ul class="list-unstyled list-custom">
                        <li class="col-xs-12 col-md-4"> <strong>Travel Start Date:</strong> @Model.OfferDateRange.TravelStartDateString</li>
                        <li class="col-xs-12 col-md-4"> <strong>Travel End Date:</strong> @Model.OfferDateRange.TravelEndDateString</li>
                        <li class="col-xs-12 col-md-4"> <strong>Stay:</strong> @Model.OfferDateRange.LengthOfStay @(Model.OfferDateRange.LengthOfStay > 1 ? "Days" : "Day")</li>
                    </ul>
                </div>
            }

            @if (Model.PricingInfo != null)
            {
                <div class="col-xs-12 pull-left pricing-info">
                    <ul class="list-unstyled list-custom">
                        <li class="col-xs-12 col-md-12 text-center lead"> <strong>Total Price Value:</strong> $@Model.PricingInfo.TotalPriceValue </li>
                        <li class="col-xs-12 col-md-4"> <strong>Average Price Value:</strong> $@Model.PricingInfo.AveragePriceValue </li>
                        <li class="col-xs-12 col-md-4"> <strong>Cross-Out Price Value:</strong> <del>$@Model.PricingInfo.CrossOutPriceValue</del> </li>
                        <li class="col-xs-12 col-md-4"> <strong>Currency:</strong> @Model.PricingInfo.Currency </li>
                        <li class="col-xs-12 col-md-4"> <strong>Drr:</strong> @Model.PricingInfo.Drr </li>
                        <li class="col-xs-12 col-md-4"> <strong>Original Price per Night:</strong> $@Model.PricingInfo.OriginalPricePerNight </li>
                        <li class="col-xs-12 col-md-4"> <strong>Percent Savings:</strong> @Model.PricingInfo.PercentSavings% </li>
                    </ul>
                </div>
            }

            @if (Model.UrgencyInfo != null)
            {
                <div class="col-xs-12 pull-left urgency-info">
                    <ul class="list-unstyled list-custom">
                        <li class="col-xs-12 col-md-3"> <strong>Air Attach Enabled:</strong> @Model.UrgencyInfo.AirAttachEnabled </li>
                        <li class="col-xs-12 col-md-3"> <strong>Air Attach Remaining Time:</strong> @Model.UrgencyInfo.AirAttachRemainingTime </li>
                        <li class="col-xs-12 col-md-3"> <strong>Almost Sold Status:</strong> @Model.UrgencyInfo.AlmostSoldStatus </li>
                        <li class="col-xs-12 col-md-3"> <strong>Last Booked:</strong> @Model.UrgencyInfo.LastBookedTimeString </li>
                        <li class="col-xs-12 col-md-3"> <strong>Link:</strong> @Model.UrgencyInfo.Link </li>
                        <li class="col-xs-12 col-md-3"> <strong>Number Of People Booked:</strong> @Model.UrgencyInfo.NumberOfPeopleBooked </li>
                        <li class="col-xs-12 col-md-3"> <strong>Number Of People Viewing:</strong> @Model.UrgencyInfo.NumberOfPeopleViewing </li>
                        <li class="col-xs-12 col-md-3"> <strong>Number Of Rooms Left:</strong> @Model.UrgencyInfo.NumberOfRoomsLeft</li>
                    </ul>
                </div>
            }

            @if (Model.Destination != null)
            {
                <div class="col-xs-12 pull-left">
                    <ul class="list-unstyled list-custom">
                        <li class="col-md-12"> <strong>Full Name:</strong> @Model.Destination.LongName </li>
                        <li class="col-md-3"> <strong>Multi City Region Id:</strong> @Model.Destination.AssociatedMultiCityRegionId </li>
                        <li class="col-md-3"> <strong>City:</strong> @Model.Destination.City </li>
                        <li class="col-md-3"> <strong>Country:</strong> @Model.Destination.Country </li>
                        <li class="col-md-3"> <strong>Non-Localized City:</strong> @Model.Destination.NonLocalizedCity </li>
                        <li class="col-md-3"> <strong>Province:</strong> @Model.Destination.Province </li>
                        <li class="col-md-3"> <strong>Region ID:</strong> @Model.Destination.RegionID </li>
                        <li class="col-md-3"> <strong>Short Name:</strong> @Model.Destination.ShortName </li>
                        <li class="col-md-3"> <strong>Tla:</strong> @Model.Destination.Tla </li>
                    </ul>
                </div>
            }

            @if (Model.Urls != null)
            {
                <div class="col-xs-12 pull-left Model-urls">
                    <ul class="list-unstyled list-custom">
                        <li class="text-ellipsis"> <strong>Info site:</strong> <a href="@Model.Urls.Infosite" target="_blank">@Model.Urls.Infosite</a> </li>
                        <li class="text-ellipsis"> <strong>Search Result:</strong> <a href="@Model.Urls.SearchResult" target="_blank">@Model.Urls.SearchResult</a> </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>